<!-- <p>eligibility works!</p> -->
<div class="row">
    <div style="padding: 5px; padding-right: 400px;">
        <h3>Legacy Eligibility Solution Result </h3>
        <hr style="margin: 5px 0; margin-bottom: 20px ; border: 1px solid black;">
        <table class="thick-border" [border]="20" [cellSpacing]="0">
            <thead style="background-color: orange;">
                <tr>
                    <th [width]="250">Benefit</th>
                    <th [width]="250">Is Eligible?</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let eligiblebenefit of benefits">
                    <td>{{eligiblebenefit.name}}</td>
                    <td>{{eligiblebenefit.iseligible}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div>
        <h3>New Eligibility Solution Results</h3>
        <hr style="margin: 5px 0; margin-bottom: 20px ; border: 1px solid black;">
        <table class="thick-border" [border]="20" [cellSpacing]="0">
            <thead style="background-color: lightseagreen;">
                <tr>
                    <th [width]="250">Benefit</th>
                    <th [width]="250">Is Eligible?</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let eligiblebenefit of benefits">
                    <td>{{eligiblebenefit.name}}</td>
                    <td>{{eligiblebenefit.iseligible}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<br><br><br>
<div class="row">
    <div class="column">
        <h3>Legacy Member Rates Solution Results</h3>
        <hr style="margin: 5px 0; margin-bottom: 20px ; border: 1px solid black;">
        <table class="thick-border" [border]="20" [cellSpacing]="0">
            <thead style="background-color: orange;">
                <tr>
                    <th>CustomProdDesc</th>
                    <th>BenefitID</th>
                    <th>PlanDesc</th>
                    <th>CarrierPlanCode</th>
                    <th>Tier</th>
                    <th>FromAge</th>
                    <th>ToAge</th>
                    <th>Premium</th>
                    <th>FromSalary</th>
                    <th>ToSalary</th>
                    <th>EmployerPortion</th>
                    <th>RateCategory</th>
                    <th>ProposalRateId</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let calcpremiums of premiums">
                    <td>{{calcpremiums.customproddesc}}</td>
                    <td>{{calcpremiums.benefitid}}</td>
                    <td>{{calcpremiums.plandesc}}</td>
                    <td>{{calcpremiums.carrierplancode}}</td>
                    <td>{{calcpremiums.tier}}</td>
                    <td>{{calcpremiums.fromage}}</td>
                    <td>{{calcpremiums.toage}}</td>
                    <td>{{calcpremiums.premium}}</td>
                    <td>{{calcpremiums.fromsalary}}</td>
                    <td>{{calcpremiums.tosalary}}</td>
                    <td>{{calcpremiums.employerportion}}</td>
                    <td>{{calcpremiums.ratecategory}}</td>
                    <td>{{calcpremiums.proposalrateid}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="column">
        <table class="thick-border" style="margin-top: 80px;" [border]="20" [cellSpacing]="0"> 
            <thead style="background-color: black; color: white;">
                <tr>
                    <th>Match Column</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let matchoutput of matches">
                    <td>{{matchoutput.matchvalue}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="column">
        <h3>New Member Rates Solution Results</h3>
        <hr style="margin: 5px 0; margin-bottom: 20px ; border: 1px solid black;">
        <table class="thick-border" [border]="20" [cellSpacing]="0">
            <thead style="background-color: lightseagreen;">
                <tr>
                    <th>CustomProdDesc</th>
                    <th>BenefitID</th>
                    <th>PlanDesc</th>
                    <th>CarrierPlanCode</th>
                    <th>Tier</th>
                    <th>FromAge</th>
                    <th>ToAge</th>
                    <th>Premium</th>
                    <th>FromSalary</th>
                    <th>ToSalary</th>
                    <th>EmployerPortion</th>
                    <th>RateCategory</th>
                    <th>ProposalRateId</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let calcpremiums of premiums">
                    <td>{{calcpremiums.customproddesc}}</td>
                    <td>{{calcpremiums.benefitid}}</td>
                    <td>{{calcpremiums.plandesc}}</td>
                    <td>{{calcpremiums.carrierplancode}}</td>
                    <td>{{calcpremiums.tier}}</td>
                    <td>{{calcpremiums.fromage}}</td>
                    <td>{{calcpremiums.toage}}</td>
                    <td>{{calcpremiums.premium}}</td>
                    <td>{{calcpremiums.fromsalary}}</td>
                    <td>{{calcpremiums.tosalary}}</td>
                    <td>{{calcpremiums.employerportion}}</td>
                    <td>{{calcpremiums.ratecategory}}</td>
                    <td>{{calcpremiums.proposalrateid}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
